In [20]:
print("BHARAT PIPARE")
print('o----')
print(' ||||')

BHARAT PIPARE
o----
 ||||

# Hello Internet This is Python Tutorial

If you want draw multiple asterisks or anthing multiple times then you must multiply the string and integer in print function like below.

In [1]:
print('*' * 10)

**********

In [2]:
print("hello world")

hello world

# '*' * 10 is called a Expression

# Variable: It stores a temporary Data

It is like a Box which has label(Variable Name) and the data present in it is Variable's Value.
For e.g.

In [3]:
price = 10
print(price)

10

In [4]:
price = 10
price = 20
print(price)

20

As above Example,
Python Runs step by step from Top to Down and it will print the recent value assigned before passing the variable name print() function.

# Data Types: The type of a Variable Name

Python is case sensitive language somake sure while assigning Variable name and later using that in code.
integer,float,string,bool value

In [6]:
price = 10
rating = 4.9
name = 'India'
is_published = True
print(price)
print(rating)
print(name)
print(is_published)

10
4.9
India
True

# Do you want to know type of a variable name in jupyter notebook?
Type %whos

In [7]:
%whos

Variable       Type     Data/Info
---------------------------------
is_published   bool     True
name           str      India
price          int      10
rating         float    4.9

In [8]:
full_name = 'Elon Musk'
age = 46
is_superman = True

# Getting input :

input() function takes input from user and it always returns string

In [11]:
name = input("What is your name?")
print("Hi " + name)

What is your name?John
Hi John

# Question:
Take Name and Favorite color as a input and Print (nane likes Ffavorite color)

In [12]:
name = input("Hey, What is Your name?")
fav_color = input("What is your favorite Color?")
print(name + " likes " + fav_color)

Hey, What is Your name?Mosh
What is your favorite Color?blue
Mosh likes blue

# Question:
Take Birth year as a input and Print the current age.

In [17]:
birth_year = (input("Enter Birth Year:     "))
print(type(birth_year))
age = 2020 - int(birth_year)
print(type(age))
print(age)

Enter Birth Year:     1971
<class 'str'>
<class 'int'>
49

# Question:
Take a Weight(in Pounds or lbs) & Convert it into Kg and Print.

In [18]:
# 1 POUND == 0.45KG

weight_lbs = input('Weight (lbs): ')
weight_kg = int(weight_lbs) * 0.45
print(weight_kg)

Weight (lbs): 160
72.0

# Strings: It is a password/letter/sentence/number/special symbol written in ' ' while assignning.

In [19]:
course = 'Python for Beginners'
course_1 = 'Python for "Beginners"'
title = "Python for Beginners"
title_1 = "Python's Course for Beginners"
print(course)
print(course_1)
print(title)
print(title_1)

Python for Beginners
Python for "Beginners"
Python for Beginners
Python's Course for Beginners

In [1]:
course = '''Hi John,

Here is our first email to you.
These 3 times inverted commas can be used for multiple line strings.
            
                
Thank You,
The Support Team'''
print(course)

Hi John,

Here is our first email to you.
These 3 times inverted commas can be used for multiple line strings.


Thank You,
The Support Team

In [36]:
course = 'Python for Beginners'
print(course[0])
print(course[0:])
print(course[:])
print(course[:5])
print(course[:-1])
print(course[0:3]) # 0 is include and 3 is exclude
print(course[-1])
print(course[4:-1])
print(course[-1:4])
print(course[-5:-1])
print(course[-2:])
print(course[0])

P
Python for Beginners
Python for Beginners
Pytho
Python for Beginner
Pyt
s
on for Beginner

nner
rs

# Formatted Strings:

# Output: John [Smith] is a coder

In [3]:
first_name = 'John'
last_name = 'Smith'

# First Method: String Concatenation
message = first_name + ' [' + last_name + '] is a coder'
print(message)


#Second Method: String Formatting,we use {value} to pass the variable name
message_1 = f'{first_name} [{last_name}] is a coder'
print(message_1)

John [Smith] is a coder
John [Smith] is a coder

# String Methods: We refer the functions as methods in python.

 1. len(): This function is used to count the no. of characters in defined string.
 
 For Example:

In [4]:
course = 'Python For Beginners'
print(len(course))

20

2. .upper & .lower are called methods and they are used to convert the string capital or small. Also they doesn't overwrite or modify existing string they returns us new string.

In [7]:
print(course.upper())
print(course.lower())
print(course)

PYTHON FOR BEGINNERS
python for beginners
Python For Beginners

3. .find method takes argument as a string and returns the index of that string.Also it is Casw sensitive.

In [8]:
print(course.find('P'))
print(course.find('o'))
print(course.find('n'))
print(course.find('Pyth'))

0
4
5
0

4. .replace method takes 2 argument as a string and one i.e. string in .Also it is Case sensitive.

In [3]:
course = 'Python For Beginners'
print(course.replace('Beginners', 'Absolute Beginners'))
print(course.replace('P', 'A'))

Python For Absolute Beginners
Aython For Beginners

5. To check whether the string is there are not. in() method or operator is used and it returns boolean value either T or F.

In [5]:
#  This will check whether string 'Python' is present or not.
print('Python' in course)
print('python' in course)

True
False

# Arithmetic Operations:

In [11]:
print(10 + 3)
print(10 - 3)
print(10 * 3)
print(10 / 3)
print(10 // 3) # Integer Division
print(10 % 3)
print(10 ** 3) # equals to 10^3

# Augumented or Enhanced Assignment Operator 
x = 10
x -= 3
print(x)
x += 3 # x = x + 3
print(x)

13
7
30
3.3333333333333335
3
1
1000
7
10

# Operator precedance:
paranthesis                                                         
exponentiation 2 ** 3,   
mulitiplication or division,                                         
addition or subtraction

In [13]:
x = 10 + 3 * 2 ** 2
print(x)
x = (2 + 3) * 10 - 3
print(x)

22
47

# Maths Functions:

round() functions rounds the value to nearest integer.

In [2]:
x = 2.3
y = 2.56
print(round(x))
print(round(y))

2
3

In [5]:
# abs() gives us the positive or modulas value of passed value.
print(abs(-2.9))
print(abs(2.9))

2.9
2.9

If you want to use the complex mathematical function then you must import some math modules(It is a seprate file having reusable code).
For e.g. Each section in the super market is called modules in Python.
import math -> in this math is a object and we can access methods of that object by using dot(.) operator.

In [11]:
import math
print(math.ceil(2.8))
print(math.ceil(2))
print(math.floor(2.8))
print(math.floor(2))
print(math.cos(1))

3
2
2
2
0.5403023058681398

# Question:
if it's hot                                                         
    It's a hot day                                                   
    Drink plenty of water                                           
otherwise if it's cold                                               
    It's a cold day                                                 
    Wear warm clothes                                               
otherwise                                                       
    It's a lovely day

In [15]:
is_hot = False
is_cold = False

if is_hot:
    print("It's a hot day")
    print("Drink plenty of water")
elif is_cold:
    print("It's a cold day")
    print("Wear warm clothes")
else:
    print("It's a lovely day")
    print("Enjoy your day")

It's a lovely day
Enjoy your day

# Question:
Price of a house is $1M                                             
if buyer has good credit,

they need to put down 10%

otherwise                                                               they need to put down 20%

In [20]:
price = 10**6
has_good_credit = False

if has_good_credit:
    down_payment = 0.1 * price
else:
    down_payment = 0.2 * price
print(f"Down payment:  ${down_payment}")

Down payment:  $200000.0

# Logical operator:
if applicant has high income AND good credit 
Eligible for loan

In [24]:
has_high_income = True
has_good_credit = True

if has_high_income and has_good_credit:
    print("Eligible for loan")
    
if has_high_income or has_good_credit:
    print("Eligible for loan")
    
has_high_income = True
has_good_credit = False

if has_high_income and not has_good_credit:
    print("Eligible for loan")

Eligible for loan
Eligible for loan
Eligible for loan

# Comparison operator:

# Question:


if temperature is greater than 30

it's a hot day                                                 

otherwise if it's less than 10                                       

it's a cold day                                                  

otherwise                                                           

it's neither hot nor cold

In [28]:
temp = int(input("What is the temperature today?"))
# equals to ==,not equals to !=
if temp > 30:
    print("It's a hot day")
elif temp < 10:
    print("it's a cold day")
else:
    print("it's neither hot nor cold")

What is the temperature today?45
It's a hot day

#  Question:

In [34]:
name = input("What is your name?")
name_len = len(name)

if name_len < 3:
    print("name must be at least 3 charachters long ")
elif name_len > 50:
    print("name can be a maximum of 50 characters")
else:
    print("name looks good!")

What is your name?john
name looks good!

# Project: Weight Converter

In [41]:
weight = int(input('Weight:  '))
unit = input('Above weight entered is (L)bs or (K)g:  ')

if unit.upper() == 'L':
    converted = weight * 0.45
    print(f"You are {converted} kilos.")
else:
    converted = weight / 0.45
    print(f"You are {converted} pounds.")

Weight:  160
Above weight entered is (L)bs or (K)g:  l
You are 72.0 kilos.

#  while loops:
while condition:
        ......
        
        this will be executed till  that condition is true

In [1]:
i = 1
while i <= 5:
    print(i)
    i += 1
print("Done")

1
2
3
4
5
Done

In [2]:
i = 5
while i > 0:
    print('*' * i)
    i -= 1
print("All stars!!")

*****
****
***
**
*
All stars!!

In [4]:
i = 5
while i <= 25:
    print('*' * i)
    i += 5
print("All stars!!")

*****
**********
***************
********************
*************************
All stars!!

# Guessing Game:

In [9]:
secret_number = 9
guess_count = 0
guess_limit = 3
while guess_count < guess_limit:
    guess = int(input('Guess: '))
    guess_count += 1
    if guess == secret_number:
        print('You Won!')
        break
        
# In this while block can have else part.
else:
    print("Sorry you Failed! Try Again")

Guess: 4
Guess: 5
Guess: 9
You Won!

# Car Game:

In [8]:
command = ""
started = False
while True:
    command = input(">").lower()
    if command == "start":
        if started:
            print("Car is Already Started!")
        else:
            started = True
            print("Car Started...")
    elif command == "stop":
        if not started:
            print("Car is Already stopped!!")
        else:
            started = False
            print("Car stopped..")
    elif command == "help":
        print('''
start - to start the car
stop - to stop the car
quit - to quit
            ''')
    elif command == 'quit':
        break
    else:
        print("Sorry, I don't umderstand this command!")

>help

start - to start the car
stop - to stop the car
quit - to quit

>start
Car Started...
>start
Car is Already Started!
>stop
Car stopped..
>stop
Car is Already stopped!!
>quit

# For Loops:
Used To iterate over strings, list[] and many more string(sequence of characters)

for (defined value) in (string):

In [3]:
for item in 'Python':
    print(item)

P
y
t
h
o
n

In [7]:
for item in range(2, 21, 2): #range(start, end, steps-by which ammount to increase)
    print(item)

2
4
6
8
10
12
14
16
18
20

In [16]:
#To calculate the total of all values in the given list.
prices = [10, 20, 30]


total = 0
for price in prices:
    total += price
print(f"Total:  {total}")

Total:  60

# Nested loops: Adding loop inside a loop

In [19]:
#To generate list of coordinates i.e (x, y)
for x in range(3): # 5 is not included in this
    for y in range(3):
        print(f'({x}, {y})')

(0, 0)
(0, 1)
(0, 2)
(1, 0)
(1, 1)
(1, 2)
(2, 0)
(2, 1)
(2, 2)

# Challenge:

In [32]:
# To print capital letter F in xx format
number = [5, 2, 5, 2, 2]
for num in number:
    print('x' * num)
    
print('''
this is by second method
''')

# second method    
for x_count in number:
    output = ''
    for count in range(x_count):
        output += 'x'
    print(output)
    
print('''
To print L
''')
    
#To print L
number = [2, 2, 2, 2, 5]
for num in number:
    print('x' * num)

xxxxx
xx
xxxxx
xx
xx

this is by second method

xxxxx
xx
xxxxx
xx
xx

To print L

xx
xx
xx
xx
xxxxx

# Lists:
we use [ ] brackets to define list'

In [46]:
names = ['John', 'Bob', 'Sarah', 'Mary', 'Mosh']

# [] this don't modify original list it returns new list
print("ðŸ‘¦ ðŸ§’ ðŸ‘§ ðŸ‘© ðŸ§“ ")
print(names)
print(names[:])
print(names[1:])
print(names[1:4])
print(names[-2:-1])

print(names[0])
names[1] = 'BAB'
print(names[1])

print(names[-1]) # First from last or end
print(names[-2])

ðŸ‘¦ ðŸ§’ ðŸ‘§ ðŸ‘© ðŸ§“
['John', 'Bob', 'Sarah', 'Mary', 'Mosh']
['John', 'Bob', 'Sarah', 'Mary', 'Mosh']
['Bob', 'Sarah', 'Mary', 'Mosh']
['Bob', 'Sarah', 'Mary']
['Mary']
John
BAB
Mosh
Mary

In [51]:
# WAP to find the largest number in a list.
numbers = [79, 28, 100, 1, 5]
print(max(number))
print(min(number))
#print(sort(number))

print('''
Second Method
''')
max_num = number[0]
for num in number:
    if num > max_num:
        max_num = num

print(max_num)

100
1

Second Method

100

# 2D Lists: matrix- A rectangular array
Each item in the 2D list is another list.

In [11]:
matrix = [
          [1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]
]
''' Second Method
for x in range(3):
    for y in range(3):
        print(matrix[x][y])
   '''     
for row in matrix:
    for item in row:
        print(item)
        
#matrix[0][2] = 20
print(matrix[0][2])

1
2
3
4
5
6
7
8
9
3

# List Method or Functions:

In [26]:
numbers = [5, 2, 1, 7, 4]

# To Add values in a list append(value)- it adds the value at the end of list
numbers.append(10)
print(numbers)

#insert(index, value)- it inserts the value at specific index in a list.
numbers.insert(0, 20)
print(numbers)

#remove(5)- it removes the value passed in a argument
numbers.remove(20)
print(numbers)

#pop() - it removes thhe last value in a list
numbers.pop()
print(numbers)

#index(value) - To check the existance of value & it will return us the index of that value
print(numbers.index(5))
print(numbers.index(7))

# we can use *in* for checking existance
print(5 in numbers)
print(50 in numbers)

#sort() - To sort the given list it does not returns anything it just sorts
numbers.sort()
print(numbers)

#reverse()- To reverse the list
numbers.reverse()
print(numbers)

#copy() - it makes the copy of original list
numbers2 = numbers.copy()
numbers2.append(10)
print(numbers2)

# count(value)-To see how many times the paarticular nuber is repeated
numbers = [5, 2, 1, 7, 5, 5, 7, 4]
print(numbers.count(5))
print(numbers.count(7))

#clear()- it removes all the values in a list
numbers.clear()
print(numbers)

[5, 2, 1, 7, 4, 10]
[20, 5, 2, 1, 7, 4, 10]
[5, 2, 1, 7, 4, 10]
[5, 2, 1, 7, 4]
0
3
True
False
[1, 2, 4, 5, 7]
[7, 5, 4, 2, 1]
[7, 5, 4, 2, 1, 10]
3
2
[]

# Question:
WAP to remove the duplicates in a list.

In [30]:
numbers = [5, 2, 1, 7, 5, 5, 7, 4]
uniques = []
for num in numbers:
    if num not in uniques:
        uniques.append(num)
print(uniques)
uniques.sort()
print(uniques)

[5, 2, 1, 7, 4]
[1, 2, 4, 5, 7]

# Tuples e.g. num(): They are immutables.
Unlike lists We can't modify it,remove values.
count(),index()

In [34]:
numbers = (1, 2, 3)
# numbers = 10 --> we can't do this in tuple
print(numbers[0])

1

# Unpacking:

In [36]:
coordinates = (1, 2, 3)
'''
coordinates[0] * coordinates[1] * coordinates[2]
we can do this by 
x = coordinates[0]
y = coordinates[1]
z = coordinates[2]

Above assigning can be done by cocept called Unpacking.
you can also use this for lists too. 
x, y, z = coordinates
'''
x, y, z = coordinates
print(x*y*z)
print(x)
print(y)
print(z)

6
1
2
3

# Dictionaries has key value pairs.
We use { } braces.

Keys Should be unique

value can be anything list,string,boolean,number

In [41]:
'''
Customer has
Name: John Smith, Email: john@gmail.com, phone:123456789

keys = Name,Email,phone
values = John Smith,john@gmail.com,123456789
'''
customer = {
    'name': 'John Smith',
    'age': 30,
    'is_verified': True
}
print(customer["name"]) 
'''
We must call the exact same key name there should
not case sensitive can't pass the Name,NAME
'''

'''We can update the values'''
customer['name'] = "Jack Smith"
print(customer['name'])
print(customer.get("birthdate", '7 Sep 2000'))

John Smith
Jack Smith
7 Sep 2000

# Question:
Output should be 1234 = one two three four

In [5]:
phone = input("Phone: ")
digitsMapping = {
    "0": "Zero", "1": "One", "2": "Two", "3": "Three", "4": "Four", "5":"Five",
    "6": "Six", "7": "Seven", "8":"Eight", "9":"Nine", "10": "Ten"
}

output = ""
for ch in phone:
    output += digitsMapping.get(ch, "!") + " "
print(output)

Phone: 1234567895
One Two Three Four Five Six Seven Eight Nine Five

# Emoji Converter:

In [11]:
message = input(">")
words = message.split(' ') #split() - it splits the given string.
print(words)

emojis = {
    ":)": "ðŸ˜Š",
    ":(": "ðŸ˜’"
}

output = " "
for word in words:
    output += emojis.get(word, word) + " "
print(output)

>Good Morning Sunshine :)
['Good', 'Morning', 'Sunshine', ':)']
 Good Morning Sunshine ðŸ˜Š

# Functions:
def functionName:

In [6]:
def greetUser(firstName, lastName):
    ''' # Function defination, name- parameter'''
    print(f"Hi {firstName} {lastName}!")
    print("Welcome aboard")
    

# parameter - Like print() Takes message as a parameter    
print("Start")


#positional argument


greetUser("Johnny", "Deep") # Function Call
greetUser("Marry", "Francis") # Marry - Argument
print("Finish")

'''In positional argument order matters like if you pass 2
parameters
and give 1 argument then you will get positional error
for e.g. if you pass greetUser("smith", "john")
then also it will print'''

Start
Hi Johnny Deep!
Welcome aboard
Hi Marry Francis!
Welcome aboard
Finish

# Keyword Arguments: Order don't matters.
'''This can be helpful in function where it has many 
numerical values.
for most of the time use positional argument.'''

Keyword arguments should always come after positional arguument

greetUser("Smith", firstName="John")- VALID

greetUser(lastName="Smith", "John") - INVALID

In [3]:
def greetUser(firstName, lastName):# Function defination, name - parameter
    print(f"Hi {firstName} {lastName}!")
    print("Welcome aboard")

    
greetUser(lastName="Smith", firstName="John") # This is callled Keyword argument

Hi John Smith!
Welcome aboard

# Return Statement:
All Functions in python returns "None" we can overwrite by using "return"

In [4]:
def square(number):
    return number * number


print(square(75))

5625

# Creating a Reusable Function:

In [7]:
def emojiConverter(message):
    words = message.split(' ') #split() - it splits the given string.
    print(words)

    emojis = {
        ":)": "ðŸ˜Š",
        ":(": "ðŸ˜’"
    }

    output = " "
    for word in words:
        output += emojis.get(word, word) + " "    
    return output
        
        
message = input(">")
print(emojiConverter(message))

>Good morning Sunshine :)
['Good', 'morning', 'Sunshine', ':)']
 Good morning Sunshine ðŸ˜Š

# Exceptions:

In [16]:
try:
    age = int(input("Age: "))
    income = 50000
    risk = income / age # age can't be zero
    print(age)
except ZeroDivisionError:
    print('Age cannot be zero.')
except ValueError:
    print('Invalid Value')

#To overcome this problem above code is wriiten
'''
Age: elon
-----------------------------------------------------------------
ValueError          Traceback (most recent call last)
<ipython-input-9-b4bb6d4a9f56> in <module>
----> 1 age = int(input("Age: "))
      2 print(age)

ValueError: invalid literal for int() with base 10: 'elon'
'''

Age: 0
Age cannot be zero.

'\nAge: elon\n-----------------------------------------------------------------\nValueError          Traceback (most recent call last)\n<ipython-input-9-b4bb6d4a9f56> in <module>\n----> 1 age = int(input("Age: "))\n      2 print(age)\n\nValueError: invalid literal for int() with base 10: \'elon\'\n'

# Comments: 
# # Single line comment

# '''Multiple Line comment '''

In [17]:
# Single line comment
'''Multiple 
    Line 
    comment'''
print('Sky is the limit')

Sky is the limit

# Classes: Used to define new types.
class ClassName:
        
        This can have methods inside in body of class
        
we can set attribute anywhere in or outside the class

Class- Blueprint of a object

Object - Instance of a class

In [27]:
class Point:
    '''This are methods'''
    def move(self):
        print("move")
        
    def draw(self):
        print("draw")
        
        
point1 = Point() '''Creates new object of a class and returns
while creating we must use () paranthesis'''
# Settimg attributes'''

point1.x = 10
point1.y = 20
print(point1.x)
point1.draw()    # Accessing the methods

10
draw

# Constructors:
 It is a function called at the time of creating an object.

In [28]:
class Point:
    
    '''These is the default method will always called while 
    creating an objects '''
    
    def __init__(self, x, y): #constructor-used to construct object
        
        '''self is the reference to current object when we 
        create a new point object self references that object
        in memory'''
        
        self.x = x # initialisation
        self.y = y
        
    def move(self):
        print('move')
        
    def draw(self):
        print('draw')
        
'''doubleUnderscore-init(initialisation)-
doubleUnderscore will be called on this step'''
       
point = Point(10, 20) # constructor will be called at this step

point.x = 11 # We can update values
point.x
point.y
print(point.x)
print(point.y)

11
20

# Challenge:
Person -type,  name - attribute,  talk()- method

In [36]:
class Person:
    def __init__(self, name):
        self.name = name
        
        
    def talk(self):
        print(f"Hi, I am {self.name}")
        
        
personName = Person('Chris Gayle')
personName.talk()
bob = Person("Bob Smith")
bob.talk()
#print(personName.name)

Hi, I am Chris Gayle
Hi, I am Bob Smith

# Inheritance: Mechanism for reusing code

In [40]:
class Mammal:
    def walk(self):
        print("walk")
        
        
class Dog(Mammal): #Dog(parent class)
    #pass     # To avoid empty class
     def bark(self):
            print("bark")

class Cat(Mammal):
    #pass
    def be_annoying(self):
        print("annoying")

dog1 = Dog()
dog1.walk()
dog1.bark()
cat1 = Cat()
cat1.walk()
cat1.be_annoying()

walk
bark
walk
annoying

# Module:
- Module in python is called file with python code.
- Used to organize code.
- For e.g. Sections in supermarket.

- Files of this section are done on VS code and saved in my_progrmming files

- Filenames are app.py & utils.py

# Packages:
- Another way to organize our files & it contains ,multiple modules in it.

- Lets take a Shopping Mall as a example

 Package= Mens       womens           kids

Mens- Shoes clothes = Modules

- Files of this section are done on VS code and saved in my_progrmming files

- Filenames are abc.py & shopping.py under eccomerce & python package.

# Generating Random Values:
- There are several modules for sending emails and lot more things.
- We are gonna use built in module to generate random values.

In [2]:
import random

for i in range(3):
    # This will print the random values between 0 & 1
    print(random.random())

0.7608876631719662
0.5370015706261086
0.007512105643019962

In [5]:
#randint()-To print values in between specific range

for i in range(10):
    print(random.randint(10, 50))

10
37
25
20
26
19
26
11
20
40

In [15]:
# choice()-To pickup random values

members = ['John', 'Mary', 'Bob', 'Mosh']
leader = random.choice(members)
print(leader)

Mosh

# Que:
To generate pair of dice(1, 1).

In [15]:
for i in range(1):
    x = random.randint(1, 6)
    y = random.randint(1, 6)
    print(f"{(x, y)}")
    
    
# SECOND METHOD
import random

class Dice:
    # Function definition
    def roll(self):
        first = random.randint(1, 6)
        second = random.randint(1, 6)
        return first, second #This will return us a tupple

    
dice = Dice()  # Creates object of a class
print(dice.roll())

(4, 6)
(6, 6)

# Files and Directories:
- modules for this

- pathlib- Object oriented filesystem paths

Path is a class.

1. Absolute Path- Will start from root of our hardisk.

    for e.g. C:\Program Files\Microsoft
    

2. Realative Path- Will start from current directory and go the another directory.

In [32]:
from pathlib import Path

path = Path("ecommerce") # creates object
# This will check "ecommerce" directory exist or not
print(path.exists())
#print(path.mkdir())

# To make new directory 
path = Path("emails")
#print(path.mkdir())
print(path.exists())

# To delete directory
#print(path.rmdir())

# With this we can search for or find any files or directory
path = Path()  # Current path
print(path.glob('*')) # it will search for all the content
print(path.glob('*.*')) # it will only search for files not directory
print(path.glob('*.py')) # will search for python files
print(path.glob('*.xls'))  # will search for excel files

True
True
<generator object Path.glob at 0x0000028F0F8F8648>
<generator object Path.glob at 0x0000028F0F8F8648>
<generator object Path.glob at 0x0000028F0F8F8648>
<generator object Path.glob at 0x0000028F0F8F8648>

In [43]:
'''Generator object is a advanced concept but for now we must know 
that we can iterate over this generator object.'''
from pathlib import Path


path = Path()
for file in path.glob('*'):
     print(file)
    
for file in path.glob('*.ipynb'):
    print(file)

.ipynb
.ipynb_checkpoints
adde-Copy1.ipynb
adde.ipynb
app.ipynb
converters.ipynb
ecommerce
emails
Untitled.ipynb
.ipynb
adde-Copy1.ipynb
adde.ipynb
app.ipynb
converters.ipynb
Untitled.ipynb

# PyPI and Pip (Huh?):
It is a Directory and it will contain thousands of packages.

1. sms -like for sending text messages search sms and it will give us many packages.
2. openpyxl - package for working with excel files 

for more info. visit https://pypi.org

 # Project - Excel Spreadsheets: 
 By  Automatting Python code will Process thousands of xls files in one second.

In [16]:
import openpyxl as xl

from openpyxl.chart import BarChart, Reference

wb = xl.load_workbook('transactions.xlsx')
sheet = wb['Sheet1']
cell = sheet['a1']
cell = sheet.cell(1,1)
print(cell.value)
print(sheet.max_row)

for row in range(2, sheet.max_row + 1):
    cell = sheet.cell(row,3)
    corrected_price = cell.value * 0.9
    
    # To add new cell and returns object
    corrected_price_cell = sheet.cell(row,4)
    corrected_price_cell.value = corrected_price

    
values = Reference(sheet, 
        min_row=2,
        max_row=sheet.max_row,
        min_col=4,
        max_col=4) 

chart = BarChart()
chart.add_data(values)
sheet.add_chart(chart, 'e2')

# To save new file as copy
wb.save('transactions.xlsx')

transaction_id
4

In [3]:
import openpyxl as xl

#To add Chart

#    package.module import class
from openpyxl.chart import BarChart, Reference


# cell = sheet['a1']
# # cell = sheet.cell(1, 1)
# # print(cell.value)

# #To know how many rows in the file
# print(sheet.max_row)

# for row in range(1, sheet.max_row + 1):
#     print(row)

def process_workbook(filename):
    wb = xl.load_workbook(filename)
    sheet = wb['Sheet1']


    for row in range(2, sheet.max_row + 1):
        cell = sheet.cell(row, 3)
        corrected_price = cell.value * 0.9

        #To add new column in Excel
        corrected_price_cell = sheet.cell(row, 4)
        corrected_price_cell.value = corrected_price

values = Reference(sheet, 
        min_row=2,
        max_row=sheet.max_row,
        min_col=4,
        max_col=4) 

chart = BarChart()
chart.add_data(values)
sheet.add_chart(chart, 'e2')


wb.save(filename)

process_workbook(transactions1.xlsx)

NameError: name 'transactions1' is not defined

# What is Machine learning?
- Subset of AI it can helpful in
- Self Driving Cars
- Robotics
- Language Processing
- Vision Processing
- Forecasting Stock Market Trends

### ML in action: 
Steps:
- Import the Data(Data will be in CSV format)
- Clean the Data( Convert the data in Binary form)
- Split the Data into Training /Test sets
- Create  a Model(Involves selecting an algorithms i.e. Decision tree,Neural network to analyze data)
- Train the model
- Make Predictions 
- Evaluate and Improve

# Libraries  and Tools:
## Libraries:
- Numpy - Provides Multidimensional array.
- Pandas - Data analysis library which provides concept called Dataframe(2D Data Structure like Excel Spreadsheet).
- MatPlotLib - 2D plotting library used to create graphs on plot.
- Scikit - Learn - Provides common algorithms.

# Importing a Data Set:
How to load data from CSV files?

In [5]:
import pandas as pd
df = pd.read_csv('vgsales.csv')
df.shape # It gives us a no. of rows and columns in dataset

(16598, 11)

In [6]:
df.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [8]:
df.values

array([[1, 'Wii Sports', 'Wii', ..., 3.77, 8.46, 82.74],
       [2, 'Super Mario Bros.', 'NES', ..., 6.81, 0.77, 40.24],
       [3, 'Mario Kart Wii', 'Wii', ..., 3.79, 3.31, 35.82],
       ...,
       [16598, 'SCORE International Baja 1000: The Official Game', 'PS2',
        ..., 0.0, 0.0, 0.01],
       [16599, 'Know How 2', 'DS', ..., 0.0, 0.0, 0.01],
       [16600, 'Spirits & Spells', 'GBA', ..., 0.0, 0.0, 0.01]],
      dtype=object)

In [10]:
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

# Jupyter  Shortcuts:
- df.Tab - will show us attributes
- df.values - move cursor in between 'value' shift & Tab
- ctrl / - comments 
- a - to add new cell above
- b - to add cell below
- dd - to delete cell

# Real Problem:

In [14]:
import pandas as pd
music_data = pd.read_csv('music.csv')
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

# Preparing the Data:

In [22]:
X = music_data.drop(columns = ['genre'])
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [23]:
Y = music_data['genre']
Y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

# Learning and Predicting:

In [45]:
import pandas as pd
# from package.module import class 
from sklearn.tree import DecisionTreeClassifier

'''For testing the data
from package.module import function(to split into multiple columns)'''
from sklearn.model_selection import train_test_split

'''for calculating accuracy'''
from sklearn.metrics import accuracy_score

music_data = pd.read_csv('music.csv')
X = music_data.drop(columns = ['genre']) # Input 
y = music_data['genre']  # Output

'''This returns tupple & we are using 80% of data'''
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

# New instance of class
model = DecisionTreeClassifier()
#Training the data passing only training dataset
model.fit(X_train, y_train)

'''#This takes 2D array & takes another array in it 21yr old boy likes hip hop and 22yr women like dance'''
predictions = model.predict(X_test) 
predictions


# Calculating Accuracy
score = accuracy_score(y_test, predictions) # comparing with actual score

score

1.0

# Persisting Models:
* Basic implementation for building and training data

In [2]:
#
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

from sklearn.externals import joblib

'''We don't train model alwayas instead we can use already
executed/ trained file and we can execute that model

joblib- is for training  model

#Import our dataset 
music_data = pd.read_csv('music.csv')
X = music_data.drop(columns = ['genre']) 
y = music_data['genre']

#create model 
model = DecisionTreeClassifier()

#Train model 
model.fit(X_train, y_train)
'''
# music_data = pd.read_csv('music.csv')
# X = music_data.drop(columns = ['genre']) 
# y = music_data['genre']

# model = DecisionTreeClassifier()
# model.fit(X, y)

# joblib.dump(model, 'music-recommender.joblib')
# predictions = model.predict(X_test)

 # To make load &  predictions 
model = joblib.load('music-recommender.joblib')
predictions = model.predict([ [21, 1] ])
predictions

array(['HipHop'], dtype=object)

# Visualizing Decision Tree:
- '''open the file generated by this code in VS code and download 'dot' 
extension and open two windows'''

In [6]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree

music_data = pd.read_csv('music.csv')
X = music_data.drop(columns = ['genre'])
y = music_data['genre']

model = DecisionTreeClassifier()
model.fit(X, y)

tree.export_graphviz(model, out_file = 'music-recommender.dot',
                    feature_names=['age', 'gender'],
                    class_names=sorted(y.unique()),
                    label='all',
                    rounded=True,
                    filled=True)

# Your First Django Project: It is a framework
- Framework - A library of reusable modules(building blocks). These modules provide functionalty of common tasks.
- A Framework defines a structure for our applications.

In [1]:
import django
print(django.get_version())

ModuleNotFoundError: No module named 'django'